@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html,body {
    height: 100%;
}

header {
    font-family: 'Permanent Marker', cursive;
    height: 15%;
    background-image: url("../img/original-hd.png");
    background-size: 33%;
    background-repeat: no-repeat;
    background-position: 20%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.365);
}

header p {
    margin-left: 45%;
    margin-right: auto;
    width: 70%;
    font-size: 2rem;
}

main {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-image: url(../img/original-bg.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left 100% top 200%;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin : none;
    padding-left: 20% 0 0 0;
    border: none;
}

.data div {
    border: solid 2px rgba(128, 128, 128, 0.365);
    border-radius: 5px;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 51%;
    height: 3rem;
}

.data div:hover {
    border: solid 2px #1B448A;
}

.data label {
    float:left;
    position: relative;
    left : 1%;
    padding-top: 0.7%;
    background-color: white;
}

.data input {
    border: none;
    width: 100%;
    height : 50%;
} 

.data input:focus {
    border: none;
}

.survey div {
    border : solid 2px rgba(128, 128, 128, 0.365);
    border-radius: 5px;
    padding: 1.5%;
    width: 50%;
}

.survey div:hover {
    border-color: #1B448A;
    border-width: 2px;
}

.data label {
    display: inline-block;
    margin: 0.5%
}

input.button {
    margin-right: auto;
}

.button {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 2rem;
}

.button:hover {
    border:solid 1px #1B448A;
    background-color: white;
    font-weight: bold;
}

.cgu {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

select {
    width: 10%;
    margin-left: 2%;
}

footer {
    height: 5%;
}